.form-container {
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title{
    text-align: center;
    color: #4CAF50;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
  }
  
 